.FactCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 200px;
  padding: 1rem;
  margin: 0.5rem;
  transition: all 0.5s;
  &:hover {
    transition: none;
    background-color: #fff6e0;
  }
}

.circledText {
  text-align: center;
}
