.Tabs {
  display: flex;
}

.tab {
  width: 100%;
  padding: 1rem;
  border: var(--border);
  border-right-width: 0px;
  text-align: center;
  &:last-child {
    border-right-width: 2px;
  }
  &.active {
    color: bla;
    font-weight: bold;
    cursor: default;
    text-decoration: none !important;
  }
  &:hover {
    text-decoration: underline;
  }
}

.content {
  padding: 1rem;
  border: var(--border);
  border-top-width: 0;
}
