.PortionControl {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.counterSection {
  display: flex;
  align-items: center;
  justify-content: center;
}
.counterButton {
  font-weight: 700;
  font-size: 2rem;
}
.currentCount {
  padding: 0 2rem;
  font-size: 3rem;
}
