@use '@/styles/mixins';

.Header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: var(--background);
    border-bottom: var(--border);
    z-index: 100;
    @include mixins.tablet {
        flex-direction: row-reverse;
        padding: 1rem;
    }
}

.falseHeaderForSpacing {
    height: 40px;
    @include mixins.mobile {
        height: 71px;
    }
}

.titleCondensed {
    display: flex;

    @include mixins.mobile {
        display: none;
    }
}

.titleFull {
    display: none;
    text-align: right;

    @include mixins.mobile {
        display: flex;
    }
}

.openMenuButton {
    display: flex;
    flex-shrink: 0;
    .textMobile {
        font-size: 2rem;
        display: flex;
        padding-right: 1rem;
        @include mixins.tablet {
            display: none;
        }
    }
    .textDesktop {
        display: none;
        &:hover {
            text-decoration: underline;
        }
        @include mixins.tablet {
            display: flex;
        }
    }
    .icon {
        font-size: 3em;
    }
}
